---
import '@fontsource-variable/raleway';
---

<div class='container mx-auto my-6 space-y-14'>
  <section>
    <header class='text-center pt-4 py-2 border-b border-black'>
      <h1 class='font-bold text-6xl mb-4'>Vu Duc Loc</h1>
      <h2 class='font-medium text-2xl'>Middle Frontend Developer</h2>
    </header>
    <section class='flex justify-center gap-6 pt-2 pb-4'>
      <p><strong>Location:</strong> Hanoi, Vietnam</p>
      <p><strong>Tel:</strong> 0374354106</p>
      <p>
        <strong>Email:</strong>
        <a href='mailto:loc.vu@owasp.org' class='italic underline'
          >loc.vu@owasp.org</a
        >
      </p>
      <p>
        <strong>Github:</strong>
        <a href='https://github.com/vdloc' class='italic underline'
          >https://github.com/vdloc</a
        >
      </p>
    </section>
  </section>
  <section class=''>
    <h3 class='text-3xl'>Education</h3>
    <div class='flex justify-between items-center'>
      <section>
        <p class='uppercase font-bold'>Post and Telecommunication Institute</p>
      </section>

      <span>(2009 - 2013)</span>
    </div>
    <p>
      <strong class='font-semibold text-[1.4rem]'>Major:</strong> Electrical Communication
    </p>
    <p>
      <strong class='font-semibold text-[1.4rem]'>Certificate:</strong>
      Bachelor of Science in Electronics and Telecommunications Engineering
    </p>
  </section>
  <section>
    <h3 class='text-3xl'>Profile</h3>
    <p>
      I'm a front-end developer with about four years of experience. I'm good at
      web technologies and committed to making high-quality websites and great
      user experiences. I enjoy staying updated with the latest in technology,
      always learning, and am eager to be part of new and exciting projects. In
      my free time, I like to read, write blogs, listen to music and enjoy
      various arts.
    </p>
  </section>
  <section>
    <h3 class='text-3xl'>Experience</h3>
    <section>
      <header class='flex justify-between'>
        <div>
          <h4 class='underline'>Ecentura Co. Ltd</h4>
          <p class='font-semibold text-[1.4rem]'>Frontend Developer</p>
        </div>
        <span>(Jan 2023 - Present)</span>
      </header>
      <div class='px-4'>
        <ul class='mt-2'>
          <li>
            Built and set up responsive UI/UX designs for Magento 2 e-commerce
            sites. Made them user-friendly with smooth interactions using HTML5,
            CSS3, Javascript, TailwindCSS, and AlpineJS.
          </li>
          <li>
            Checked and improved the websites thoroughly, using tools like
            Google Lighthouse and Chrome Coverage to find and fix performance
            issues.
          </li>
          <li>
            Led the adoption of the Hyva theme in Magento, aiming to make the
            frontend faster and the user experience smoother.
          </li>
          <li>Worked closely with a small team in a flexible and agile way.</li>
        </ul>
      </div>
    </section>
    <section>
      <header class='flex justify-between'>
        <div>
          <h4 class='underline'>GMO-Z.com RUNSYSTEM</h4>
          <p class='font-semibold text-[1.4rem]'>Frontend Developer</p>
        </div>
        <span>(August 2020 - Jan 2022)</span>
      </header>
      <div class='px-4'>
        <ul class='mt-2'>
          <li>
            Transform static form pages into interactive single-page
            applications using ReactJS, Webpack 4, and GulpJS.
          </li>
          <li>
            Set up a custom Webpack configuration from the beginning, making the
            bundling process faster and optimizing build times. Also added Gulp
            to the workflow for automatic handling of assets, styles, and
            scripts, which made development easier.
          </li>
          <li>
            First to use Preact in the project, which made a good balance
            between performance and compatibility, and greatly reduced the size
            of the overall bundle.
          </li>
          <li>
            Worked on creating custom form validation rules and did unit
            testing.
          </li>
          <li>Engaged in forms penetration testing tasks using Burp Suite.</li>
          <li>
            Awarded <a
              class='italic underline'
              href='https://runsystem.vn/vi/2021/03/10/best-runner-vu-duc-loc-nghe-lap-trinh-doi-hoi-su-kien-tri-cao-lam/'
              >Best Runner Award</a
            > for my dedicated and hard work.
          </li>
        </ul>
      </div>
    </section>
    <section>
      <header class='flex justify-between'>
        <div>
          <h4 class='underline'>FPT Software</h4>
          <p class='font-semibold text-[1.4rem]'>Junior Fullstack Developer</p>
        </div>
        <span>(May 2019 - July 2020)</span>
      </header>
      <div class='px-4'>
        <ul class='mt-2'>
          <li>
            Developed and maintained web applications within a highly secure,
            custom Node.js-based MVC framework, specifically designed for
            managing and controlling port operations.
          </li>
          <li>
            Designed and implemented interactive web views for displaying vessel
            and crane information, utilizing AngularJS 1.x for efficient user
            control and data presentation.
          </li>
          <li>
            Created data-rich, interactive visualizations for container
            management using P5.js, enhancing user experience and operational
            efficiency.
          </li>
          <li>
            Developed robust web services using Node.js, ensuring seamless data
            integration and backend functionality.
          </li>
        </ul>
      </div>
    </section>
  </section>
  <section>
    <h3 class='text-3xl'>Skills</h3>
    <ul>
      <li>
        <span class='font-semibold text-[1.4rem]'>Front-End Development:</span> HTML5,
        CSS3, SASS/LESS, Bootstrap, Tailwind, Vanilla JavaScript, jQuery, Typescript,
        ReactJS, P5.js, AlpineJS
      </li>
      <li>
        <span class='font-semibold text-[1.4rem]'>Back-End Development:</span> NodeJS,
        PHP, MySQL, MongoDB (foundation level)
      </li>
      <li>
        <span class='font-semibold text-[1.4rem]'
          >Build Tools & Version Control:</span
        > Vite, Webpack, Gulp/Grunt, Git/Github/Gitlab/Bitbucket
      </li>
      <li>
        <span class='font-semibold text-[1.4rem]'>Development Environment:</span
        > Visual Studio Code, Windows Subsystem for Linux (WSL), Ubuntu
      </li>
      <li>
        <span class='font-semibold text-[1.4rem]'>Design Tools:</span> Adobe Photoshop,
        Figma, Gimp, Inkscape
      </li>
    </ul>
  </section>
  <section>
    <h3 class='text-3xl'>Languages</h3>
    <ul>
      <li>
        English
        <span>(Proficient in reading and writing)</span>
      </li>
      <li>
        Vietnamese <span>(Native)</span>
      </li>
    </ul>
  </section>
</div>

<style>
  body {
    font-family: 'Raleway Variable', sans-serif;
    font-size: 1.4rem;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: bold;
    text-transform: capitalize;
  }

  h1,
  h2,
  h3 {
    text-align: center;
  }

  h3 {
    margin-bottom: 1rem;
  }
  section {
    padding-block: 1rem;
  }

  .container {
    max-width: 1350px;
  }

  ul {
    list-style-type: disc;
    padding-left: 1.5rem;
  }
</style>
