---
import '@fontsource-variable/raleway';
---

<div class='container mx-auto my-6'>
  <header class='text-center py-4 border-b border-black'>
    <h1 class='font-bold text-6xl mb-4'>Vu Duc Loc</h1>
    <h2 class='font-medium text-2xl'>Middle Frontend Developer</h2>
  </header>
  <section class='flex justify-center gap-6 py-4'>
    <p><strong>Location:</strong> Hanoi, Vietnam</p>
    <p><strong>Tel:</strong> 0374354106</p>
    <p>
      <strong>Email:</strong>
      <a href='mailto:loc.vu@owasp.org' class='italic underline'
        >loc.vu@owasp.org</a
      >
    </p>
    <p>
      <strong>Github:</strong>
      <a href='https://github.com/vdloc' class='italic underline'
        >https://github.com/vdloc</a
      >
    </p>
  </section>
  <section>
    <h3 class='text-3xl'>Education</h3>
    <div class='flex justify-between'>
      <section>
        <p class='uppercase font-bold'>Post and Telecommunication Institute</p>
      </section>
      <span>(Oct 2009 - May 2014)</span>
    </div>
    <p>
      <strong class='font-semibold text-[1.4rem]'>Major:</strong> Electrical communication
    </p>
    <p>
      <strong class='font-semibold text-[1.4rem]'>Certificate:</strong>
      Bachelor of Science in Electronics and Telecommunications Engineering
    </p>
  </section>
  <section>
    <h3 class='text-3xl'>Profile</h3>
    <p>
      Results-oriented middle front-end developer with about four years of
      experience. Proficient in web technologies, dedicated to delivering
      high-quality code and exceptional user experiences. Enthusiastic about
      collaborating across departments, staying abreast of the latest industry
      trends. Enjoys continuous learning and seeks opportunities to contribute
      to innovative projects. Outside of work, engages in reading, blogging, and
      exploring various forms of art.
    </p>
  </section>
  <section>
    <h3 class='text-3xl'>Experience</h3>
    <section>
      <header class='flex justify-between'>
        <div>
          <h4 class='underline'>Ecentura Co. Ltd</h4>
          <p class='font-semibold text-[1.4rem]'>Frontend Developer</p>
        </div>
        <span>(Feb 2022 - Present)</span>
      </header>
      <div class='px-4'>
        <ul class='mt-2'>
          <li>
            Develop and implement responsive UI/UX designs for Magento 2
            ecommerce sites with smooth user interactions and transitions using
            HTML5, CSS3, Javascript, TailwindCSS and AlpineJS.
          </li>
          <li>
            Conducted comprehensive analysis and optimization of the websites,
            utilizing tools such as Google Lighthouse and Chrome Coverage to
            identify performance bottlenecks and opportunities for improvement.
          </li>
          <li>
            Spearheaded the exploration and integration of Hyva theme within the
            Magento ecosystem, focusing on improving frontend performance and
            streamlining the user experience.
          </li>
          <li>
            Work closely across disciplines in a small agile team environment.
          </li>
        </ul>
      </div>
    </section>
    <section>
      <header class='flex justify-between'>
        <div>
          <h4 class='underline'>GMO-Z.com RUNSYSTEM</h4>
          <p class='font-semibold text-[1.4rem]'>Frontend Developer</p>
        </div>
        <span>(July 2021 - Jan 2022)</span>
      </header>
      <div class='px-4'>
        <ul class='mt-2'>
          <li>
            Transform static form pages into interactive single-page
            applications using ReactJS, Webpack 4, and GulpJS.
          </li>
          <li>
            Implemented a custom Webpack configuration from scratch,
            significantly enhancing the bundling process and optimizing build
            times and integrated Gulp into the workflow, creating automated
            tasks for efficient management of assets, styles, and scripts,
            thereby improving the development process.
          </li>
          <li>
            Pioneered the use of Preact in the project, achieving a remarkable
            balance between performance and compatibility, leading to a
            significant reduction in the overall bundle size.
          </li>
          <li>
            Implemented custom form validation logics and conducted unit
            testing.
          </li>
          <li>Engaged in forms penetration testing tasks using Burp Suite.</li>
        </ul>
      </div>
    </section>
    <section>
      <header class='flex justify-between'>
        <div>
          <h4 class='underline'>FPT Software</h4>
          <p class='font-semibold text-[1.4rem]'>Junior Fullstack Developer</p>
        </div>
        <span>(Jan 2020 - Feb 2021)</span>
      </header>
      <div class='px-4'>
        <ul class='mt-2'>
          <li>
            Developed web views using AngularJS and web services with NodeJS.
          </li>
          <li>Implemented feature-rich data visualization web views.</li>
          <li>
            Received commendation for participation in the company's internal
            training course.
          </li>
          <li>
            Cultivated teamwork and improved customer interactions through
            collaborative project experience.
          </li>
        </ul>
      </div>
    </section>    
  </section>
  <h3>SKILLS</h3>
  <p>
    HTML5, CSS3, SASS/LESS, Bootstrap, Tailwind, Vanilla JavaScript, jQuery,
    Typescript, ReactJS, P5.js, WebpackJS, GulpJS, Visual Studio Code, Windows
    Subsystem for Linux (WSL), Ubuntu, Adobe Photoshop, Figma, Sketch,
    Git/Github/Gitlab
  </p>
  <h3>LANGUAGES</h3>
  <p>Vietnamese (Fluent), English (Proficient in reading and writing)</p>
</div>
<style>
  body {
    font-family: 'Raleway Variable', sans-serif;
    font-size: 1.5rem;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: bold;
    text-transform: capitalize;
  }

  h1,
  h2,
  h3 {
    text-align: center;
  }

  section {
    padding-block: 1rem;
  }

  ul {
    list-style-type: disc;
    padding-left: 1.5rem;
  }
</style>
