---
---

<section class='mb-8'>
  <div class='mb-6'>
    <h1
      class='font-bold text-text-heading text-center text-4xl md:text-5xl pt-4 pb-2 overflow-hidden'
    >
      <strong
        class='bg-gradient-to-bl bg-no-repeat bg-bottom bg-[length:90%_40%] from-primary-blue to-primary-blue dark:from-primary-blue dark:to-primary-blue'
      >
        @vdloc
      </strong>
    </h1>
  </div>
  <div class="space-y-3 mt-8">
    <h1 class="font-bold text-white">Welcome to My Portfolio!</h1>

    <p>
      My name is <strong>Loc</strong> ("Lộc"). It means "green leaf" or "lucky"
      in English. I'm a dedicated and detail-oriented Frontend Developer based in <strong
        >Ha Noi, Vietnam</strong
      >.
    </p>

    <p>
      I specialize in creating clean and elegant web experiences that combine
      aesthetics and functionality. With a minimalistic approach, I strive to
      craft visually pleasing designs that deliver a seamless user experience.
    </p>

    <p>
      Proficient in <strong>HTML</strong>, <strong>CSS</strong>, <strong
        >JavaScript</strong
      >, and <strong>React</strong>, I bring ideas to life through clean code
      and thoughtful design. I am passionate about creating intuitive interfaces
      that captivate and engage users.
    </p>

    <p>
      Driven by a strong work ethic and a commitment to excellence, I am always
      eager to tackle new challenges and learn new technologies. I believe in
      continuous growth and staying up-to-date with the latest industry trends
      to deliver the best results.
    </p>

    <p>
      When I'm not coding, you can find me enjoying a cup of coffee at a local
      cafe or exploring the city's cultural landmarks. I am also an avid reader,
      constantly seeking inspiration from books and articles related to design
      and technology.
    </p>

    <p>
      If you are seeking a frontend developer who values simplicity, attention
      to detail, and a professional approach, I would be thrilled to collaborate
      with you. Please take a moment to explore my portfolio and get in touch to
      discuss your project requirements.
    </p>

    <p>
      Thank you for visiting, and I look forward to the opportunity to work
      together!
    </p>
  </div>
</section>
